
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__menu{
    display: flex;
    align-items: center;
    gap: 1rem;

    &__links{
      text-decoration: none;
    }
    &__links:hover{
      cursor: pointer;
    }
  }
  img{
    width: 5rem;
  }

  &__link{
  display: flex;
    gap: 2rem;
  }
}